/* NOTE Funciona con mejor compatibildad en Chrome/Chromium */

body {
    background-color: #eee;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 10%;
    text-size-adjust: 10%;
    font-size: 1vw;
    
}

#totem {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    /* padding-top: 1%; */
    text-align: justify;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    left: 1%;
}

input {
    display: block;
    font-style: inherit;
    resize: horizontal;
    width: 200px;
    
}

input:active {
    width: auto;   
}

input:focus {
    min-width: 1px;
}

input #rut #dv{
    width: min-content;
}

button {
    background-color: transparent;
    font-weight: semibold;
    color: #444;
    font-size: 0.9rem;
    padding: 0.6rem 0.8rem;
    border: 2px solid #eee;
    border-radius: .5rem;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .5rem .5rem 1rem #ccc,
    -.5rem -.5rem 1rem #fff;
}

button:hover {
    box-shadow: .5rem .5rem 1rem #fff,
    -.5rem -.5rem 1rem #ccc;
}

button:active {
    box-shadow: inset .2rem .2rem 1rem #fff,
    inset -.2rem -.2rem 1rem #ccc;
}

a {
    text-decoration: none;
    color: #444;
    background-color: transparent;
    font-weight: semibold;
    font-size: 0.9rem;

}

#huella {
    display: block;
    position: absolute;
    left: 20%;
    top: 40%;


}
